.table-grid {
    display: grid;
    grid-template-columns: 10% 15% 20% 20% 20% 10% 10%;
    max-width: 1060px;
}

.grid-header {
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    display: flex; /* Use flexbox for vertical alignment */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Keep horizontal center */
}

.grid-cell {
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
}

.print-button {
    margin-bottom: 10px;
}
