<div *ngIf="games">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2> Field #{{ fieldNumber }} - Game sheets</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button mat-raised-button color="accent" (click)="printGameSheets()">Print to PDF</button>

            <div #gameSheets class="game-sheets-container">
                @for (match of games; track idx; let idx = $index) {

                @if (match?.teams) {
                <div class="game-sheet-container">
                    <h3>Game #{{ idx +1 }}</h3>
                    <div class="game-sheet-grid"
                        [style.grid-template-columns]="'50px 150px ' + '50px '.repeat(numberOfSets) + '100px 100px 100px'">
                        <div class="grid-header" style="grid-column: 1 / span 2; grid-row: 1 / span 2;"> Game #{{ idx +1
                            }} - {{ match?.startTime | date:'HH:mm' }} </div>
                        <div class="grid-header" [style.grid-column]="'3 / span ' + numberOfSets" style="grid-row: 1;">
                            Sety
                        </div>
                        <div class="grid-header" [style.grid-column]="3 + numberOfSets" style="grid-row: 1 / span 2;">
                            Vyhr. sety
                        </div>
                        <div class="grid-header" [style.grid-column]="4 + numberOfSets" style="grid-row: 1 / span 2;">
                            Fairplay
                        </div>
                        <div class="grid-header" [style.grid-column]="5 + numberOfSets" style="grid-row: 1 / span 2;">
                            Celkem
                        </div>

                        @for (set of [].constructor(numberOfSets); track setIdx; let setIdx = $index) {
                        <div class="grid-header set-header">{{ setIdx + 1 }}</div>
                        }

                        @for (color of teamLabels; track i; let i = $index) {
                        <div class="grid-cell team-color">{{ color }}</div>
                        <div class="grid-cell team-name">{{ match?.teams?.[i] }}</div>

                        @for (set of [].constructor(numberOfSets); track setIdx; let setIdx = $index) {
                        <div class="grid-cell"></div>
                        }
                        <div class="grid-cell"></div>
                        <div class="grid-cell"></div>
                        <div class="grid-cell"></div>
                        }
                    </div>
                </div>
                }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>