<h2>Game sheets</h2>

<div *ngIf="teams.length === 5">
    <ng-container *ngFor="let match of matchMatrix; let idx = index">
        <h3>Zápas #{{ match[0] }}</h3>
        <table border="1" style="border-collapse: collapse; margin-bottom: 2em;">
            <tr>
                <th rowspan="2" colspan="2"></th>
                <th colspan="7">Sety</th>
                <th rowspan="2">Vyhr. sety</th>
                <th rowspan="2">Fairplay</th>
                <th rowspan="2">Celkem</th>
            </tr>
            <tr>
                <ng-container *ngFor="let set of [1,2,3,4,5,6,7]">
                    <th>{{ set }}</th>
                </ng-container>
            </tr>
            <tr *ngFor="let color of teamLabels; let i = index"> 
                <td>{{ color }}</td>
                <td>{{ match[i+1] }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </ng-container>
</div>