.schedule-dnd-container {
    display: flex;
}

.fields-container {
    display: flex;
}

.scheduled-games-field,
.unassigned-games {
    min-width: 350px;
    border: 5px solid #ccc;
    margin: 20px;
}

.scheduled-game-card {
    margin-bottom: 8px;
    min-height: 48px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(0, 0, 0 / 7%);
    padding: 8px 12px;
}

.game-time {
    width: 50px;
    color: #888;
}

.game-info {
    width: 80px;
    color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game-empty {
    color: #aaa;
}

.referee-fields {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: auto;
    align-items: flex-end;
}