.tournament-details-container {
    padding-left: 20px;
    border-radius: 18px;
    border: 1.5px solid #d1d5db;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}

.tournament-details-form-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tournament-details-form-row mat-form-field {
  min-width: 180px;
  max-width: 220px;
  flex: 1 1 180px;
}