<h2>Tournament details</h2>

<div>
  <label>Start Time:
    <input type="time" [(ngModel)]="scheduleStart" />
  </label>

  <span style="display:inline-block; width: 15px;"></span>

  <label>Duration between games (minutes):
    <input type="number" [(ngModel)]="scheduleInterval" min="1" />
  </label>
</div>


<button (click)="addCategory()">Add Category</button>
<br /><br />

<mat-tab-group [(selectedIndex)]="mainTabIndex">
  <!-- Teams/Matrix/Game Sheets Tab -->
  <mat-tab label="Teams & Matrix">
    <mat-tab-group [(selectedIndex)]="selectedCategoryIndex">
      <mat-tab *ngFor="let cat of categories; let i = index; trackBy: trackByCategoryId">
        <ng-template mat-tab-label>
          <input [(ngModel)]="cat.name"
            style="width: 100px; border: none; background: transparent; font-weight: bold;" />
        </ng-template>
        <button (click)="removeCategory(i)" style="float:right; margin-top:8px;">Remove Category</button>

        <br /><br /><br />
        <app-team-input [teams]="cat.teams" [catIndex]="i"></app-team-input>

        <app-matrix [teams]="cat.teams" [catIndex]="i"></app-matrix>

        <div *ngIf="!cat.displayMatrix || !cat.displayMatrix.length" style="color: red;">
          Matrix unavailable for {{ cat.teams.length }} teams to generate the matrix.
        </div>

      <app-ranking [lang]="lang" [catIndex]="i"></app-ranking>

       <app-game-sheet [catIndex]="i"></app-game-sheet>

      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <!-- Schedule Tab -->
  <mat-tab label="Schedule">
    <app-schedule [categories]="categories" [scheduleStart]="scheduleStart"
      [scheduleInterval]="scheduleInterval"></app-schedule>
  </mat-tab>
</mat-tab-group>