<h2>Tournament details</h2>

<div style="display: flex; align-items: center; gap: 24px;">
  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput type="text" [(ngModel)]="tournamentLocation" placeholder="Enter city name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Time</mat-label>
    <input matInput type="time" [(ngModel)]="scheduleStart" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Duration between games (minutes)</mat-label>
    <input matInput type="number" [(ngModel)]="scheduleInterval" min="1" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Number of fields</mat-label>
    <input matInput type="number" [(ngModel)]="scheduleFields" min="1" />
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="addCategory()">Add Category</button>

<button mat-raised-button color="accent" (click)="setTestData()">Set Test Data</button>

<mat-tab-group [(selectedIndex)]="mainTabIndex">
  <!-- Teams/Matrix/Game Sheets Tab -->
  <mat-tab label="Register Teams & select Matrix">
    <mat-tab-group [(selectedIndex)]="selectedCategoryIndex">
      <mat-tab *ngFor="let cat of categories; let i = index; trackBy: trackByCategoryId">
        <ng-template mat-tab-label>
          <input [(ngModel)]="cat.name"
            style="width: 100px; border: none; background: transparent; font-weight: bold;" />

          <button extended (click)="removeCategory(i)"
            style="border: none; background: transparent; cursor: pointer; color: red;">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>



        <br /><br /><br />

        
        <div class="team-matrix-grid">
          <app-team-input [teams]="cat.teams" [catIndex]="i"></app-team-input>
          <app-matrix [teams]="cat.teams" [catIndex]="i"></app-matrix>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <!-- Schedule Tab -->
  <mat-tab label="Create the Schedule">
    <app-schedule [categories]="categories" [scheduleStart]="scheduleStart" [scheduleInterval]="scheduleInterval"
      [fields]="scheduleFields"></app-schedule>
  </mat-tab>

  <mat-tab label="Let's print it!">

    <div *ngFor="let cat of categories; let i = index;">
      <app-ranking [lang]="lang" [catIndex]="i"></app-ranking>
      <app-game-sheet [catIndex]="i"></app-game-sheet>
    </div>
  </mat-tab>
</mat-tab-group>