.ranking-grid {
    display: grid;
    grid-template-columns: 50px 150px 70px 70px 70px 70px 70px 70px 70px 70px 70px 100px 100px;
    max-width: 1060px;
}

.grid-header {
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-cell {
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
}

.print-button {
    margin-bottom: 10px;
}